{{/* Partial: head-meta-and-jsonld.html Adds canonical, description, open graph,
twitter and JSON-LD Article schema for pages. Place this partial into the
<head>
    of your base layout or include it from theme partial. */}}
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta
        name="description"
        content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}"
    />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta
        property="og:description"
        content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}"
    />
    {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
    {{ else }} {{ if .Site.Params.defaultImage }}
    <meta property="og:image" content="{{ .Site.Params.defaultImage }}" />
    {{ end }} {{ end }}
    <meta
        property="og:type"
        content="{{ if .IsHome }}website{{ else if .IsPage }}article{{ else }}website{{ end }}"
    />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta
        name="twitter:description"
        content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}"
    />

    {{ if .IsPage }} {{ $author := .Params.author | default .Site.Params.author
    }} {{ $image := .Params.image | default .Site.Params.defaultImage }}
    <script type="application/ld+json">
        {{- $schema := dict
            "@context" "https://schema.org"
            "@type" "Article"
            "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
            "headline" .Title
            "image" (slice $image)
            "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
            "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
            "author" (dict "@type" "Person" "name" $author)
            "publisher" (dict "@type" "Organization" "name" .Site.Title "logo" (dict "@type" "ImageObject" "url" (printf "%s%s" .Site.BaseURL .Site.Params.BookFavicon)))
        }}
        {{ $schema | jsonify }}
    </script>
    {{ end }}
</head>
